@{
    ViewBag.Title = "¡Confirmación del correo electrónico exitosa!";
}


<div div class="container" style="margin-top: 10%; margin-bottom: 10%; border: 2px solid black; padding: 100px; border-radius: 50px;text-align: center">
    <h2>@ViewBag.Title.</h2>
    <p>
        Gracias por confirmar su cuenta. Por favor @Html.ActionLink("Haga clic acá para iniciar Sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
    <a href="@Url.Action("Index","Home")" class="btn btn-outline-dark">
        <i class="fa fa-arrow-left" style="margin-right: 5px"></i> Volver al Inicio
    </a>
</div>

@if (Session["Registro"] != null)
{
    if (Session["Registro"].Equals("Exitoso"))
    {
        <script type="text/javascript">
            function RegistroExitoso() {
                Swal.fire({
                    title: '¡Registro Exitoso!',
                    icon: 'success',
                    toast: false,
                    timer: 5000,
                    timerProgressBar: true
                });
            };
            RegistroExitoso();
        </script>
        Session["Registro"] = null;
    }
}
