@{
    ViewBag.Title = "Error de inicio de sesión";
}

    <div class="container" style="margin-top: 10%; margin-bottom: 10%; border: 2px solid black; padding: 100px; border-radius: 50px;text-align: center">
        <hgroup>
            <h2 class="text-danger">@ViewBag.Title.</h2>
            <h3>El inicio de sesión con el servicio no se ha llevado a cabo correctamente.</h3>
        </hgroup>
        <a href="@Url.Action("Index","Home")" class="btn btn-outline-dark">
            <i class="fa fa-arrow-left" style="margin-right: 5px"></i> Volver al Inicio
        </a>
    </div>
