@{
    ViewBag.Title = "Confirmación de contraseña olvidada";
}

    <div class="container" style="margin-top: 10%; margin-bottom: 10%; border: 2px solid black; padding: 100px; border-radius: 50px;text-align: center">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <div>
            <p>
                Compruebe el correo electrónico para restablecer la contraseña.
            </p>
        </div>
        <a href="@Url.Action("Index","Home")" class="btn btn-outline-dark">
            <i class="fa fa-arrow-left" style="margin-right: 5px"></i> Volver al Inicio
        </a>
    </div>
	
