@{
    ViewBag.Title = "Confirmación de restablecimiento de contraseña";
}


    <div class="container" style="margin-top: 10%; margin-bottom: 10%; border: 2px solid black; padding: 100px; border-radius: 50px;text-align: center">
        <hgroup class="title" style="text-align: center">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <div style="text-align: center">
            <p>
                Se restableció la contraseña. @Html.ActionLink("Haga clic aquí para iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
        <a href="@Url.Action("Index","Home")" class="btn btn-outline-dark">
            <i class="fa fa-arrow-left" style="margin-right: 5px"></i> Volver al Inicio
        </a>
    </div>

