@{
    ViewBag.Title = "Nuestras Políticas";
}
<div class="container-fluid">
    <br />
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> @Html.ActionLink("Inicio", "Index", "Home") </li>
        <li class="breadcrumb-item active">Nuestras Políticas</li>

    </ol>
</div>


<div class="container">
    <section id="Acercade">

        <div class="row">
            <div class="col-md-12" style="text-align: center">
                <h2 style="text-align:left; color: dimgray" class="wow animate__animated animate__fadeInDown">Nuestras Políticas</h2>
                <hr />

            </div>
        </div>

    </section>


    <div class="row">

        <div class="col-sm-7 wow animate__animated animate__fadeInRight">
            <h3 style="text-align:left; color: dimgray" class="wow animate__animated animate__fadeInDown">Políticas de privacidad</h3>
            <p style="text-align: justify">


                <i class="fa fa-check-square-o"></i>Ferretería y Materiales JYR le preocupa su privacidad, por esto estamos comprometidos a proteger la
                integridad de la información brindada por el usuario u obtenida de otras fuentes.
                <br />
                <i class="fa fa-check-square-o"></i>Para el inicio de sesión con Facebook o Google solamente se accederá a datos como el correo electrónico.
                <br />
                <i class="fa fa-check-square-o"></i> El acceso a su información personal será limitado, a esta solamente personal de Ferretería y Materiales
                JYR  podrá acceder, con el fin de proveerle sus productos o materiales de manera correcta.
                <br />
                <i class="fa fa-check-square-o"></i>No se divulgará bajo ningún cocepto la información personall de ningún cliente.
                <br />
            </p>
        </div>
        <div class="col-sm-5 how-img">
            <br />
            <br />

            <img src="~/Content/imagenes/hoja.png" class=" wow animate__animated animate__fadeInUp" alt="" />



        </div>

    </div>
    <br />



</div>