@model Sistema_JYR.Models.Proformas
<div id="divCliente">
    @Html.Hidden("IdCliente", 0)
    <div class="form-group container">
        @Html.LabelFor(model => model.IdCliente, "Cliente", htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="row">
            <div class="col-md-10">
                <input type="text" class="fa form-control" value="" id="IdCliente">
            </div>
            <div class="col-md-2">
                <button class="btn btn-dark" type="button" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DireccionEntrega, "Dirección", htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            <div class="form-group has-feedback">
                <input type="text" class="fa form-control" value="">
            </div>
        </div>
    </div>
</div>

@if (Session["ErrorFiltro"] != null)
{
    switch (Session["ErrorFiltro"])
    {
        case 1:
            <script type="text/javascript">
                function ErrorCoversion() {
                    Swal.fire({
                        title: 'La cédula solo debe contener números',
                        icon: 'warning',
                        toast: false,
                        timer: 4000,
                        timerProgressBar: true
                    });
                };
                ErrorCoversion();
            </script>
            Session["ErrorFiltro"] = null;
            break;
        case 2:
            <script type="text/javascript">
                function SinResultados() {
                    Swal.fire({
                        title: 'El cliente buscado no existe.',
                        icon: 'warning',
                        text: 'El número de identificación digitado no corresponde a ningún cliente registrado',
                        toast: false,
                        timerProgressBar: true
                    });
                };
                SinResultados();
            </script>
            Session["ErrorFiltro"] = null;
            break;
        default:
            break;
    }
}
