@model int
@using Microsoft.AspNet.Identity
@using Sistema_JYR.Models
@{
    SistemaJYREntities db = new SistemaJYREntities();
}



    <h6>Proformas adjuntas</h6>
    <hr />
    @{
        List<Documentos> documentos = db.Documentos.Where(x => x.IdProforma == Model).ToList();
    }
    @if (documentos.Count != 0)
    {
        <div class="row" style="padding: 15px">
            @foreach (var item in documentos)
            {

                <div class="col-md-2" style="overflow:hidden; text-align: center; color: red">

                    <a href="@Url.Action("PDFD",new { id = item.Id })">
                        <i class="fa fa-file-pdf-o" style="color: red !important; font-size:100px"></i>
                        <br />
                        @item.Descripcion
                    </a>
                </div>

            }
        </div>
    }
    else
    {
        <div class="container" style="text-align: center">
            <h7>Ningún adjunto</h7>
        </div>

    }


