@model int
@using Microsoft.AspNet.Identity
@using Sistema_JYR.Models
@{ 
    SistemaJYREntities db = new SistemaJYREntities();
}


<div id="Documentos" style="border: 1px solid lightgray;border-radius: 10px; padding: 5px">
    <h6>Proformas adjuntas</h6>
    <hr />
    @{
        List<Documentos> documentos = db.Documentos.Where(x => x.IdProforma == Model).ToList();
    }
    @if (documentos.Count != 0)
    {
        foreach (var item in documentos)
        {
            byte[] byteDocument = item.Documento;
            MemoryStream ms = new MemoryStream(byteDocument, 0, 0, true, true);
            Response.ContentType = "application/pdf";
            Response.AddHeader("content-disposition", "attachment;filename=" + "Proforma" + item.Descripcion);
            Response.Buffer = true;
            Response.Clear();
            Response.OutputStream.Write(ms.GetBuffer(), 0, ms.GetBuffer().Length);
            Response.OutputStream.Flush();
            Response.End();
            var file = new FileStreamResult(Response.OutputStream, "aplication/pdf");
            <a href="@file" download="@item.Descripcion">@item.Descripcion</a>
        }
    }
    else
    {
        <div class="container" style="text-align: center">
            <h7>Ningún adjunto</h7>
        </div>

    }
</div>

