@model List<Sistema_JYR.Models.Productos>

@{
    ViewBag.Title = "ListaProductos";
}

    <div class="container"><h2>Lista de Productos</h2></div>

<div id="wrap">
    <div id="columns" class="columns_4">

        @foreach (var item in Model)
        {
            <figure>
                <img src="@Url.Action("getImage", "Productos", new { id = item.Id })">
                <figcaption>@item.Nombre</figcaption>
                <span class="price">$@item.Precio</span>
                <a class="button" href="#">Agregar</a>
            </figure>
        }
    </div>
</div>