@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

    <div div class="container" style="margin-top: 10%; margin-bottom: 10%; border: 2px solid black; padding: 100px; border-radius: 50px;text-align: center">
        <h1>¡Error!</h1>
        @{
            if (String.IsNullOrEmpty(ViewBag.errorMessage))
            {
                <h2>Un error ha ocurrido al procesar su solicitud</h2>
                <a href="@Url.Action("Index","Home")" class="btn btn-outline-dark">
                    <i class="fa fa-arrow-left" style="margin-right: 5px"></i> Volver al Inicio
                </a>
            }
            else
            {
                <h2>@ViewBag.errorMessage</h2>
                <a href="@Url.Action("Index","Home")" class="btn btn-outline-dark">
                    <i class="fa fa-arrow-left" style="margin-right: 5px"></i> Volver al Inicio
                </a>
            }
        }
    </div>

